/* ==========================================================================
   Main
   ========================================================================== */
/* Base */
.ic * {
    font-family: "Avenir Next", Arial, sans-serif;
}
[class^="icon-"] {
    font-family: FontAwesome;
}
@media screen {
    [class*="span"] {
        border: 0px solid rgba(0,0,0,0);
        margin-left: 2.85715%;
        margin-right: -3px; // Necessary to get rid of inline whitespace
        padding: 0;
        display: inline-block;
        vertical-align: top;
    }
    [class*="span"]:first-child {
        margin-left: 0;
    }
    .section-nav {
        margin-left: 0;
    }
}
.span1 { width: 5.714285714286%; }
.span2 { width: 14.28571%; }
.span3 { width: 22.85714%; }
.span4, .span_side { width: 31.42857%; }
.span5 { width: 40%; }
.span6 { width: 48.57142%; }
.span7 { width: 57.14285%; }
.span8, .span_main { width: 65.71428%; }
.span9 { width: 74.28571%; }
.span10 { width: 82.85714%; }
.span11 { width: 91.42857%; }
.span12 { margin-left: 0; width: 100%; }

.idea-home {
    overflow: auto;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
.ic a:hover,
.ic a:active {
    outline: 0;
}

/* Header */
.project-header .row {
    padding: 1.5em 0;
}
.logo a,
.logo a:hover {
    text-decoration: none;
}

.project-header .info {
    margin-top: 20px;
    margin-bottom: 10px;
    font: 100%/1.375 Georgia, "Times New Roman", serif; /* 16px font size */
}
.project-title {
    color: #2cb34a;
    display: inline;
    font-size: 312.5%; /* 50px */
    font-family: "Avenir Next Demi", Arial, sans-serif;
    line-height: 0.80;
}

h4.project-title {
    font-size: 22px;
    padding: 30px 0;
    display: block;
}
h4.project-title a {
    color: #000;
}


.project-add-idea {
    margin-bottom: 2.5em;
}
.project-description {
    color: #000;
    font-size: 187.5%; /* 30px */
    font-weight: 600;
    line-height: 0.88;
    margin-bottom: 0.5em;
}
.project-prompt {
    color: #999;
    font-size: 100%; /* 16px */
    font-weight: bold;
    margin-top: 0.5em;
    text-align: left;
    text-transform: uppercase;
}
.search-form input[type="text"],
.search-form textarea {
    height: 2em;
    width: 80%;
}
/* Navigation */
h2.section a {
    font-family: "Avenir Next Bold", Arial, sans-serif;
}
ul.section-nav {
    border-bottom: 1px solid #000;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: .5em;
    list-style: none;
    overflow: auto;
    overflow-y:hidden;
    overflow-x:hidden;
}
ul.section-nav li {
    display: inline-block;
    margin-right: 0.5em;
    border-bottom-width: 0;
}
ul.section-nav li a {
    display: inline-block;
    padding: 0.625em 1em 0.5em;
    background: #e4e2e0;
    color: #000;
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom-width: 0;
}

ul.section-nav li a:hover,
ul.section-nav li a:focus {
    background: #bcb6b2;
}
ul.section-nav li.active a {
    background: #2cb34a;
    color: #FFF;
}

/* Content */
.idea-entry {
    border-bottom: 1px solid #f2f2f2;
    padding: 20px 20px 20px 0;
}
.no-results {
    padding: 2.5em 0;
}
.idea-votes {
    font-size: 2.125em;
    line-height: 0.3;
    padding-top: 0.4em;
    vertical-align: none;
    text-align: center;
}
.idea-votes .votes {
    display: block;
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-size: .47058824em;
    padding-top: 1.5em;
    text-transform: uppercase;
}
.idea-title {
    padding-right: 1.875em;
}
.idea-description {
    font-family: Georgia, "Times New Roman", serif;
    margin: 1em 0;
}
.idea-more a {
    font-family: FontAwesome, "Avenir Next", Arial, sans-serif;
}
.idea-footer {
    font-size: 16px;
}
.idea-info .suggested {
    color: #63666a;
    margin-left: .5em;
}
.idea-info .commented {
    color: #63666a;
    margin-right: .5em;
}

/* Comments */
.comments {
    position: relative;
}
.comments h4 {
    background: url(../img/comment-icon-detail.png) 0 0 no-repeat;
    font-size: 100%;
    font-weight: bold;
    line-height: 1.66;
    min-height: 1.75em;
    padding-left: 3.3125em;
    text-transform: uppercase;
}
.comment-form {
    padding: 0.625em 0.625em 2.8em;
    margin: 1.5625em 0 0;
}
.comment-form textarea {
    height: 6.25em;
    margin-bottom: 0.5em;
    width: 99%;
}
.comment-form form {
    position: relative;
}
.comment-form label {
    color: #666;
    position: absolute;
    left: .25em;
}
.comment-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.single-idea-entry .idea-entry-content .comment-author {
    font-size: 87.5%;
    line-height: 1.9;
    font-weight: 600;
}
.comment-date {
    color: #666;
    font-weight: normal;
}
.comment {
    padding: 2.5em 0 1.5em;
    border-bottom: 1px solid #ccc;
}

/* Internal Nav */
.top-internal-nav {
    margin: 1em 0 0;
}
.bottom-internal-nav {
    margin-top: 1.5em;
}
.top-internal-nav a,
.bottom-internal-nav a.left{
    float: left;
    background: url(../img/back-arrow.png) center left no-repeat;
    padding-left: .75em;
}
.bottom-internal-nav a {
    float: right;
    background: url(../img/more-arrow.png) center right no-repeat;
    padding-right: .75em;
}

/* Sidebar */
.sidebar ul {
    list-style: none;
    padding-left: 0;
}
.ic-add-tags,
.sidebar-nav {
    margin-bottom: 2.5em;
}
.sidebar h4 {
    font-size: 120%; /* 24px */
    line-height: 0.95;
}
.sidebar .challenge-banner {
    margin-bottom: 2.5em;
    background-color: #DBEDD4;
    padding: 2em;
}
#challenge-link a {
    border-bottom-width: 1px;
}

#challenge-link {
    margin-bottom: 20px;
}
.sidebar .challenge-banner #challenge-link {
    margin-top: 1.5em;
    margin-bottom: 0;
}


#challenge-link a:after {
    content: "\f054";
    font-family: FontAwesome, "Avenir Next", Arial, sans-serif;
    margin-left: .25em;
}
.tags .tag {
    display: block;
    margin: 0 0 .5em 1em;
}
.tags .tag a {
    font-family: "Avenir Next Demi", Arial, sans-serif;
}
.sidebar .tags form input[type="text"] {
    width: 11em;
}
.ic-add-tags .help-text {
    font-size: 87.5%;
} .sidebar-nav a {
    font-size: 87.5%; /* 14px */
}

/* Add View */
.project-add {
    margin: 1.5em 0 0;
}
.project-add h1 {
    display: inline-block;
    margin-right: 0.25em;
}
.helptext,
.instructions {
    color: #75787B;
    font-family: "Avenir Next Italic", Arial, sans-serif;
    font-style: italic;
}
.project-add p {
    display: inline-block;
}
.project-add form textarea {
    height: 6.25em;
    width: 48.57142%;
    display: inline-block;
    margin: 0.625em 0;
}
.project-add label {
    display: inline-block;
    font-family: "Avenir Next Demi", Arial, sans-serif;
    padding: 0.625em 0 0.625em;
    position: relative;
    width: 22.85714%;
    margin-right: 2.5%;
    text-align: right;
}
.project-add input#id_title,
.project-add input#id_text,
.project-add input#id_summary,
.project-add input#id_tags {
    width: 48.57142%;
    display: inline-block;
    margin: 0.625em 0;
}
.project-add .helptext {
    margin-left: 25.75%;
}
.project-add .errorlist {
    margin-left: 5px;
    width: 22.85714%;
}
.project-add span#submit-buttons {
    display: block;
    margin-top: 1.375em;
    margin-left: 25.75%;
}
.project-add #add-idea-btn,
.project-add .secondary-action {
    margin-top: 1.625em;
    margin-bottom: 2em;
}
.idea-hero {
    margin: 0 0 0 0;
}
.idea-hero a {
    border-bottom-width: 0;
}
.top-internal-nav a,
.main-content a {
    border-bottom-width: 1px;
}

/* Single View */
.challenge-info h2,
.single-idea-entry .idea-title h3 {
    font-size: 225%; /* 24px */
    font-weight: 600;
    line-height: 1.26;
    margin-bottom: 0;
}
.challenge-info  p.challenge-entry-content,
.single-idea-entry .idea-entry-content p {
    font: 100%/1.375 Georgia, "Times New Roman", serif; /* 16px font size */
}

.challenge-info  p.challenge-entry-content {
    margin-bottom: 0;
}
.challenge-info,
.single-idea-entry {
    padding: 2.5em 0;
}
.idea-title-wrap {
    padding-bottom: 2.5em;
}
.idea-single .author-info,
.idea-single .idea-entry-content {
    padding-top: 2.5em;
}
.idea-single .author-info p {
    font-size: 75%;
    line-height: 1.33;
    margin: 0.35em 0;
}
.idea-single .author {
    font-weight: 600;
}
.idea-single .date {
    color: #63666a;
}
.idea-single .comments {
    border-top: 3px solid #f2f2f2;
    margin-top: 2.5em;
    padding-top: 1.5625em;
}
.idea-single .vote-cta {
    padding-bottom: 0.625em;
}
.idea-single .vote-count {
    color: #2cb34a;
    display: block;
    font-size: 1.125em;
    font-weight: 600;
    margin-top: 0.625em;
    text-align: center;
}
.idea-single .voters {
    color: #666;
    font-size: 87.5%;
    line-height: 1.57;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Style help */
.border-bottom {
    border-bottom: 3px solid #000;
}
#work_tag_submit_btn {
    margin-top: .5em;
}
.btn-vote {
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
    padding: 0.625em 0;
    text-transform: uppercase;
    width: 100%;
}
span.btn-voted,
span.btn-voted:hover {
    background: #E4E2E0 url(../img/vote-thumb-hover.png) 20% 50% no-repeat;
    color: #101820;
    cursor: text;
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
    padding: 0.625em 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
span.btn-archive,
span.btn-archive:hover {
    background: #f2f2f2 url(../img/archive.png) 18% 48% no-repeat;
    border: 1px solid #f2f2f2;
    color: #101820;
    cursor: text;
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
    padding: 0.625em 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.idea-add .alert {
    color: #d14124;
    display: block;
    margin-top: 1.6em;
    text-align: center;
    text-transform: uppercase;
}
.idea-add a .alert {
    color: #d14124;
    text-decoration: none;
}
.idea-add a:hover .alert,
.idea-add a:focus .alert {
    border-color: #d14124 !important;
}
.idea-add .alert .down {
    background: url(../img/alert-arrow.png) 0 50% no-repeat;
    height: 22px;
    padding: 0.6875em;
    width: 22px;
}
.idea-add .alert-none {
    background-color: #f2f2f2;
    border: 3px solid #999;
    box-sizing: border-box;
    color: #999;
    display: block;
    margin: 1.25em 0;
    padding: 0.5em 1em ;
    text-align: center;
    text-transform: uppercase;
}
.idea-add .alert-none .down {
    background: url(../img/alert-check.png) 0 50% no-repeat;
    height: 22px;
    padding: 0.6875em;
    width: 22px;
}
.idea-add .alert .alert-content,
.idea-add .alert-none p {
     display: block;
     margin-bottom: 0.25em;
}
.result-number {
    font-weight: bold;
}
 /* Image replacement */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

.challenge-info h3 {
    text-transform: uppercase;
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.challenge-info h2 {
    font-weight: normal;
}

.challenge-info {
    padding: 0;
    padding-bottom: 20px;
}

section.main-content hr {
    background-color: #000;
    height: 3px;
    border: 0;
    padding: 0;
}

.idea-votes .btn-vote, .idea-votes .btn-voted, .idea-votes .btn-voted:hover {
    width: 80px;
    font-size: 18px;
    margin-top: 20px;
    background-image: none;
}
