{% extends "idea/idea-base.html" %}

{% load comments %}
{% load mptt_tags %}

{% block "content" %}

        <div id="content" class="idea-single ic" role="main">
            <div class="row">
                <div class="logo span7 section project-title">
                    {% if idea.banner.is_private %}
                        <a href="{% url 'idea:room_detail' idea.banner.slug %}">{{ idea.banner.title }}</a>
                    {% else %}
                        <a href="{% url 'idea:idea_list' %}">IdeaBox</a>
                    {% endif %}
                </div><!-- /logo -->
            </div>
            <section id="main" class="main-content">
                {% if not idea.banner or idea.banner.is_votes %}
                <div class="idea-votes span">
                    <div class="count">{{voters|length}}</div>
                    <div class="phrase">Like{{voters|pluralize:",s"}}</div>
                    <div class="action">
                        {% load comments %}
                        {% if idea.state.name == 'Archive' %}
                            <span class="btn btn-archive">Archived</span>
                        {% elif support %}
                            <form action="{% url 'idea:upvote_idea' %}" method=POST>
                                {% csrf_token %}
                                <input type="hidden" name="idea_id" value="{{idea.id}}"/>
                                <input type="hidden" name="next" value="{% url 'idea:idea_detail' idea.id %}"/>
                                <input type="submit" class="btn btn-voted" value="Liked" id="vote_down"/>
                            </form>
                        {% else %}
                            <form action="{% url 'idea:upvote_idea' %}" method=POST>
                                {% csrf_token %}
                                <input type="hidden" name="idea_id" value="{{idea.id}}"/>
                                <input type="hidden" name="next" value="{% url 'idea:idea_detail' idea.id %}"/>
                                <input type="submit" class="btn btn-vote" value="Like" id="vote_up"/>
                            </form>
                        {% endif %}
                    </div><!-- /bitton -->
                </div><!-- /idea-votes -->
                {% endif %}
                <article class="single-idea-entry span">
                    <div class="row span9">
                        <div class="idea-title-wrap">
                            <header class="idea-title">
                                <h1>{{idea.title}}</h1>
                            </header>
		            {% if idea.banner %}
                                <span class="idea-banner">
                                    {% if idea.banner.is_private %}
                                        Room:
                                        <a href="{% url "idea:room_detail" idea.banner.slug %}">{{idea.banner.title}}</a>
                                    {% else %}
                                        Challenge:
                                        <a href="{% url "idea:challenge_detail" idea.banner.id %}">{{idea.banner.title}}</a>
                                    {% endif %}
			        </span>
			    {% endif %}
                        </div><!-- /idea-title-wrap -->
                    </div><!-- /row -->
                    <div class="row body">
                        <div class="idea-entry-content span9">
                            <h4 class="summary">Summary</h4><p>{{idea.summary|urlize|linebreaksbr}}</p>
                            <h4 class="detail">Detail</h4><p>{{idea.text|urlize|linebreaksbr}}</p>
                            Posted
                            {% if not idea.is_anonymous %}
                              by
                              {% if idea.get_creator_profile %}
                                <span class="author"><a href="{{idea.get_creator_profile.get_absolute_url}}">{{idea.creator.first_name}} {{idea.creator.last_name}}</a></span>
                              {% else %}
                                <span class="author">{{idea.creator.first_name}} {{idea.creator.last_name}} </span>
                              {% endif %}
                            {% endif %}
                            on {{idea.time|date:"M d, Y "}}
                            {% if idea.creator == request.user %}
                                <span class="edit">
                                    <span class="edit-separator">|</span>
                                    <a href="{% url "idea:edit_idea" idea.id %}">Edit my Idea</a>
                                </span>
                            {% endif %}
                            {% get_comment_list for idea.idea idea.id as comment_list %}
                            <div id="comments" class="comments">                            
                            <div class="comment-total">
                                <h4>{{comment_list|length}} Comments</h4>
                            </div><!-- /comment-total -->
                            <div class="comments-wrap">
                                <div class="comment-form">
                                    {% get_comment_form for idea as comment_form %}
                                    <form action="{% comment_form_target %}" method="POST">
                                        <label class="comment-label" for="id_comment">Enter your Comments</label>
                                    {%csrf_token%}
                                    {{comment_form.comment}}
                                    {{comment_form.content_type}}
                                    {{comment_form.object_pk}}
                                    {{comment_form.timestamp}}
                                    {{comment_form.security_hash}}
                                        <input type="hidden" name="parent" id="parent_id" value="" />
                                        <input type="hidden" name = "next" value="{% url 'idea:idea_detail' idea.id %}" />
                                        {% if idea.banner and idea.banner.is_private %}
                                          {{comment_form.is_anonymous}}
                                          <label class="anonymous-label" for="id_is_anonymous">Hide my name from this comment</label>
                                        {% endif %}
                                        <input type="submit" class="btn right" value="Submit" id="id_submit" />
                                    </form>
                                </div><!-- /comment-form -->
                                <ol class="comment-list">
                                    {% recursetree comment_list %}
                                    <li class="comment">
                                        <article>
                                            <footer class="comment-meta">
                                            {% if node.is_anonymous %}
                                                <p class="comment-author"><span class="comment-date">An IdeaBox User on {{node.submit_date|date:"M d, Y g:i A"}}</span>
                                                {% comment %} use parent_id if present, forces max comment depth of 2 {% endcomment %}
                                                | <a href="#c{{ node.id }}" data-comment-id="{% if node.parent_id %}{{ node.parent_id }}{% else %}{{ node.id }}{% endif %}" class="comment_reply_link">Reply</a></p>
                                            {% elif node.user.get_profile %}
                                                <p class="comment-author"><a href="{{node.user.get_profile.get_absolute_url}}">{{node.user_name}}</a><span class="comment-date"> on {{node.submit_date|date:"M d, Y g:i A"}}</span>
                                                {% comment %} use parent_id if present, forces max comment depth of 2 {% endcomment %}
                                                | <a href="#c{{ node.id }}" data-comment-id="{% if node.parent_id %}{{ node.parent_id }}{% else %}{{ node.id }}{% endif %}" class="comment_reply_link">Reply</a></p>
                                            {% else %}
                                                <p class="comment-author">{{node.user_name}}<span class="comment-date"> on {{node.submit_date|date:"M d, Y g:i A"}}</span>
                                                {% comment %} use parent_id if present, forces max comment depth of 2 {% endcomment %}
                                                | <a href="#c{{ node.id }}" data-comment-id="{% if node.parent_id %}{{ node.parent_id }}{% else %}{{ node.id }}{% endif %}" class="comment_reply_link">Reply</a></p>
                                            {% endif %}
                                            </footer><!-- /comment-meta -->
                                            <div class="comment-content">
                                                <p>{{node.comment|urlize|linebreaksbr}}</p>
                                            </div><!-- /comment-content -->
                                            {% if not node.is_leaf_node %}
                                                <ol class="comment-list">
                                                    {{ children }}
                                                </ol>
                                            {% endif %}
                                        </article>
                                    </li>
                                    {% endrecursetree %}
                                </ol><!-- /comments-list -->
                            </div><!-- /comments-wrap -->
                        </div><!-- /comments -->
                        </div><!-- /idea-entry-content -->
                        <div id="sidebar" class="sidebar span3" role="complementary">
                            <aside class="project-add-idea">
                                {% if idea.banner.is_private %}
                                    <a href="{% url 'idea:add_idea' idea.banner.id %}" class="btn-huge">Submit an Idea</a>
                                {% else %}
                                    <a href="{% url 'idea:add_idea' %}" class="btn-huge">Submit an Idea</a>
                                {% endif %}
                            </aside><!-- /project-add-idea -->
                            {% if not idea.banner or idea.banner.is_votes %}
                            <aside class="voters">
                                <h3>Liked by</h3>
                                <ul>
                                {% for voter in voters|slice:'10' %}
                                    {% if voter.profile %}
                                    <li><a href="{{voter.profile.get_absolute_url}}">{{voter.first_name}} {{voter.last_name}}</a></li>
                                    {% else %}
                                    <li>{{voter.first_name}} {{voter.last_name}}</li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                                {% if voters.count > 10 %}
                                    <h4 ><a class="chevron-right" href="{% url 'idea:show_likes' idea.id %}">See all Likes</a></h4>
                                {% endif %}
                                
                            </aside>    
                            {% endif %}
                            <aside class="tags">
                                <h3>Idea Tags</h3>
                                <ul>
                                    {% for tag in tags %}
                                    <li class="tag"><a class="tag_name" href="{{tag.tag_url}}">{{tag}}</a>
                                    {% if tag.name in tags_created_by_user %}<a href="{% url "idea:remove_tag" idea.id tag.slug %}" class="tag_remove">x</a></li>{% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="ic-add-tags tags">
                                    <form method="POST">
                                        {% csrf_token %}
                                         <div>
                                            <label for="id_tags">Add tag (optional)</label>
                                            {{ tag_form.tags }}
                                            <input type="submit" value="Add" class="btn" id="work_tag_submit_btn"></input>
                                         </div>
                                    </form>
                                </div><!-- /ic-add-tags tags -->   
                            </aside>
                        </div><!-- /sidebar /sidebar -->
                    </div>
                </article><!-- /single-idea-entry -->
            </section><!-- /main /main-content -->
        </div><!-- /content -->

{% endblock %}

{% comment %}
Section js_ready calls search:model_tags_json, which is a collab
callback for autocomplete.  This will not currently work without collab
{% endcomment %}
{% block "js_ready" %}
    $(".tags_autocomplete").autocomplete({
        source: "{% url "search:model_tags_json" "idea" %}",
    });
{% endblock %}
