{% extends "idea/idea-base.html" %}

{% block "content" %}

        <div id="content" class="idea-home ic" role="main">
            <div class="left span9">
                <section id="idea-hero" class="idea-hero">
                    <header class="project-header">
                        <div class="row">
                            <div class="logo span5">
                                <h2 class="section">
                                    <a href="{% url 'idea:idea_list' %}">IdeaBox</a>
                                </h2>
                            </div>
                            <p class="info">{{ about_text|safe }}</p>
                        </div><!-- /row -->

                        {% if banner %}
                        <div class="challenge-banner">
                            <h5>Current Challenge:</h5>
                            <h3 class="challenge-description">{{banner.title}}</h3>
                            <div id="challenge-link">
                                <a href="{% url 'idea:challenge_detail' banner.id %}" class="chevron-right">View Challenge Ideas</a>
                            </div>
                        </div><!-- /challenge-banner -->
                        {% endif %}
                    </header><!-- /project-header -->
                    <div class="visuallyhidden">
                        <h2>Main Navigation for IdeaBox</h2>
                    </div> <!-- /visuallyhidden -->
                    <ul class="section-nav">
                            <li {% if sort_or_state == 'trending' %}class="active"{% endif %}><a href="{% url 'idea:idea_list' "trending" %}">Trending</a></li>
                            <li {% if sort_or_state == 'vote' %}class="active"{% endif %}><a href="{% url 'idea:idea_list' "vote" %}">Likes</a></li>
                            <li {% if sort_or_state == 'recent' %}class="active"{% endif %}><a href="{% url 'idea:idea_list' "recent" %}">Recent</a></li>
                    </ul><!-- /nav -->
                </section><!-- /idea-hero -->
            </div><!-- /left -->
            <div class="left span12">
            <div class="left span9">
                <section id="main" class="main-content">
                {% if ideas %}
                {% for idea in ideas %}
                        <article class="idea-entry">
                        <div class="row">
                            <div class="idea-votes left">
                                <div class="count">{{idea.vote_count}}</div>
                                <div class="phrase">Like{{idea.vote_count|pluralize:",s"}}</div>
                                <div class="action">
                                {% if idea.state.name == 'Archive' %}
                                    <span class="btn-archive">Archived</span>
                                {% else %}
                                        <form action="{% url 'idea:upvote_idea' %}" method=POST>
                                        {% csrf_token %}
                                        <input type="hidden" name="idea_id" value="{{idea.id}}"/>
                                        <input type="hidden" name="next" value="{% url 'idea:idea_list' sort_or_state %}"/>
                                        {% if request.user in idea.voters.all%}
                                            <input type="submit" class="btn btn-voted" value="Liked" id="vote_up"/>
                                        {% else %}
                                            <input type="submit" class="btn btn-vote" value="Like" id="vote_up"/>
                                        {% endif %}
                                    </form>
                                {% endif %}
                                </div>
                            </div><!-- /idea-votes -->
                            <div class="idea-wrap span10">
                                <header class="idea-title">
                                    <a href="{% url 'idea:idea_detail' idea.id %}"><h2>{{idea.title}}</h2></a>
                                </header>
                                <div class="idea-description">
                                    {{ idea.summary|truncatechars:250 }}
                                    <span>
                                        <a href="{% url 'idea:idea_detail' idea.id %}" class="chevron-right">Read more </a>
                                    </span>
                                </div>
                                <footer class="idea-footer">
                                    <div class="idea-info">
                                        <span class="commented"><a href="{% url 'idea:idea_detail' idea.id %}#comments">{{idea.comment_count}} Comment{{idea.comment_count|pluralize:",s"}}</a></span> | <span class="suggested">Suggested on {{idea.time|date:"M d, Y"}}</span>
                                    </div><!-- /idea-info -->
                                </footer>
                            </div><!-- /idea-wrap -->
                        </div><!-- /row -->
                    </article>
                {% endfor %}
                {% else %}
                    <article class="no-results">
                        <div class="row">
                            <p class="span9">There are no ideas to display.</p>
                        </div><!-- /row -->
                    </article><!-- /no-results -->
                {% endif %}

                <div class="pagination">
                    <ul>
                        {% if ideas.has_previous %}
                        <li><a href="?{% if page_tags %}tags={{ page_tags|join:',' }}&{% endif %}page_num={{ ideas.previous_page_number }}"><i class="icon-chevron-left"></i></a></li>
                        {% endif %}
                        {% for page in ideas.paginator.page_range %}
                            <li class="{% if page == ideas.number %}active{% endif %}">
                                <a href="?{% if page_tags %}tags={{ page_tags|join:',' }}&{% endif %}page_num={{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                        {% if ideas.has_next %}
                            <li><a href="?{% if page_tags %}tags={{ page_tags|join:',' }}&{% endif %}page_num={{ ideas.next_page_number }}"><i class="icon-chevron-right"></i></a></li>
                        {% endif %}
                    </ul>
                </div>

                </section><!-- /main /main-content -->
            </div><!-- /row -->
                <div class="sidebar left span3">
                    <div class="project-add-idea">
                        <a href="{% url 'idea:add_idea' %}" class="btn-huge">Submit an Idea</a>
                    </div><!-- /project-add-idea -->
		    <aside class="banners">
		        <h3>Browse by Challenge:</h3>
			<ul>
			    {% for challenge in browse_banners %}
			    <li class="challenge">
				<a class="challenge_name" href="{% url 'idea:challenge_detail' challenge.id %}">{{challenge.title}}</a>
			    </li>
			    {% endfor %}
			    <li>
				<div class="challenge_view_all"><a  href="{% url 'idea:banner_list' %}">View past Challenges</a></div>
			    </li>
			</ul>
		    </aside>
                    <aside class="tags">
                        <h3>Browse by Tag:</h3>
                        <ul>
                            {% for tag in tags %}
                            <li class="tag">
                                <a class="tag_name {% if tag.active %}pushed{% endif %}" href="{{tag.tag_url}}">{{tag}}</a>
                                <span class="tag_remove">{{tag.count}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div><!-- /span_side -->
            </div><!-- /row -->
        </div><!-- /main -->

{% endblock %}

{% block "js_scripts" %}
        <script src="{{ STATIC_URL }}idea/js/functions.js"></script>
{% block "design_js_scripts" %}{% endblock %}
{% endblock %}
