{% extends "idea/idea-base.html" %}

{% block "content" %}

        <div id="content" class="idea-banner-single ic" role="main">
            <div class="row">
                <div class="logo span7 section project-title">
                    <a href="{% url 'idea:idea_list' %}">IdeaBox</a>
                </div><!-- /logo -->
            </div>
            <div class="row list_current_challenges">
		<div class="current_challenges_heading">
		    <h1>Current Challenge{{ current_banners.count|pluralize }}</h1>
            	</div>
		<div class="current_banners">
		    <ul>
      		        {% for banner in current_banners %}
		        <li class="current_banner_list_item">
		    	    <a href="{% url 'idea:challenge_detail' banner.id %}">{{banner.title}}</a>
		        </li>
                        {% empty %}
			<li class="current_banner_list_item">
                            There are no active Challenges
			</li>
	    	        {% endfor %}
		    </ul>
		</div>
	    </div>
            <div class="row list_past_challenges">
		<div class="past_challenges_heading">
		    <h1>Past Challenge{{ past_banners.count|pluralize }}</h1>
		</div>
		<div class="past_banners">
		    <ul>
			{% for banner in past_banners %}
			<li class="past_banner_list_item">
			    <a href="{% url 'idea:challenge_detail' banner.id %}">{{banner.title}}</a>
			</li>
                        {% empty %}
			<li class="past_banner_list_item">
                            There are no expired Challenges
			</li>
			{% endfor %}
		    </ul>
		</div>
	    </div>
	</div>
{% endblock  %}
