{% extends "idea/idea-base.html" %}

{% block "content" %}

		<div id="content" class="idea-home ic" role="main">
			<div class="row">
			<div class="left span9">
			<div class="row">
				<section id="idea-hero" class="idea-hero">
					<header class="project-header">
						<div class="row">
							<div class="logo span5">
								<a href="{% url 'idea:idea_list' %}"><h2 class="project-title">Idea Box</h2></a>
							</div>
						</div><!-- /row -->
					</header><!-- /project-header -->
				<div class="visuallyhidden">
					<h2>Main Navigation for Idea Box</h2>
				</div> <!-- /visuallyhidden -->
					<ul class="section-nav">
                            <li {% if sort_or_state == 'trending' %}class="active"{% endif %}><a href="{% url 'idea:idea_list' "trending" %}">Trending</a></li>
                            <li {% if sort_or_state == 'vote' %}class="active"{% endif %}><a href="{% url 'idea:idea_list' "vote" %}">Likes</a></li>
                            <li {% if sort_or_state == 'recent' %}class="active"{% endif %}><a href="{% url 'idea:idea_list' "recent" %}">Recent</a></li>
					</ul><!-- /nav -->
				</section><!-- /idea-hero -->
			</div><!-- /row -->
			<div class="row">
				<section id="main" class="main-content">
                {% if ideas %}
                {% for idea in ideas %}
                        <article class="idea-entry">
						<div class="row">
							<div class="idea-votes span2">
								{{idea.vote_count}} <span class="votes">Like{{idea.vote_count|pluralize:",s"}} </span>
							</div><!-- /idea-votes -->
							<div class="idea-wrap span10">
								<header class="idea-title">
									<a href="{% url 'idea:idea_detail' idea.id %}"><h3>{{idea.title}}</h3></a>
								</header>
								<div class="idea-description">
									{{ idea.text|truncatechars:250 }}
								</div>
								<div class="idea-more">
									<a href="{% url 'idea:idea_detail' idea.id %}">Read More</a>
								</div>
								<footer class="idea-footer">
									<div class="idea-info">
										<span class="commented"><a href="{% url 'idea:idea_detail' idea.id %}#comments">{{idea.comment_count}} Comment{{idea.comment_count|pluralize:",s"}}</a></span> | <span class="suggested">Suggested on {{idea.time|date:"M d, Y"}}</span>
									</div><!-- /idea-info -->
								</footer>
							</div><!-- /idea-wrap -->
						</div><!-- /row -->
					</article>
                {% endfor %}
                {% else %}
                	<article class="no-results">
                		<div class="row">
                    		<p class="span9">There are no ideas to display.</p>
                    	</div><!-- /row -->
                    </article><!-- /no-results -->
                {% endif %}
					<nav id="bottom-nav" class="bottom-internal-nav span12" role="navigation">
					<h4 class="visuallyhidden">Idea Post Navigation</h4>
                    {% if ideas.has_previous %}
                        <a href="?page_num={{ideas.previous_page_number}}" class="left">Previous Ideas</a>
                    {% endif %}
                    {% if ideas.has_next %}
						<a href="?page_num={{ideas.next_page_number}}" class="more">More Ideas</a>
                    {% endif %}
					</nav><!-- /bottom-nav /bottom-internal-nav -->
				</section><!-- /main /main-content -->
			</div><!-- /row -->
			</div><!-- /span_main -->
                <div class="sidebar left span3">
					<div class="project-add-idea">
						<a href="{% url 'idea:add_idea' %}" class="btn-huge">Submit an idea</a>
					</div><!-- /project-add-idea -->
					<div class="challenge-banner">
						<h5>Current Challenge:</h5>
						<h3 class="challenge-description">{{banner.title}}</h3>
						<div id="challenge-link"><a href="{% url 'idea:banner_detail' banner.id %}">View Challenge ideas</a></div>
					</div><!-- /challenge-banner -->
					<aside class="total-ideas">
						<h4>
   	                      {{total_num_ideas}} Idea{{total_num_ideas|pluralize:",s"}}
   	                    </h4>
					</aside><!-- /total-ideas -->
					<aside class="tags">
						<h4>Browse by Tag:</h4>
						<ul>
   	                        {% for tag in tags %}
   	                        <li class="tag"><a class="tag_name" href="{{tag.tag_url}}" 
   	                            {% if tag.active %}
   	                                class="active"
   	                            {% endif %}
   	                        >{{tag}} </a><span class="tag_remove">{{tag.count}}</span></li>
   	                        {% endfor %}
						</ul>   
					</aside>
				</div><!-- /span_side -->
			</div><!-- /row -->
		</div><!-- /main -->

{% endblock %}

{% block "js_scripts" %}
		<script src="{{ STATIC_URL }}idea/js/functions.js"></script>
{% block "design_js_scripts" %}{% endblock %}
{% endblock %}
