{% extends "idea/idea-base.html" %}

{% load comments %}
{% load mptt_tags %}

{% block "content" %}

        <div id="content" class="idea-single ic" role="main">
            <div class="row">
                <div class="logo span7 section project-title">
                    <a href="{% url 'idea:idea_detail' idea.id %}">'{{ idea.title}}'</a>
                </div><!-- /logo -->
            </div>
            <section id="main" class="main-content">
                <div class="idea-votes span">
                    <div class="count">{{voters|length}}</div>
                    <div class="phrase">Like{{voters|pluralize:",s"}}</div>
                    <div class="action">
                        {% load comments %}
                        {% if idea.state.name == 'Archive' %}
                            <span class="btn btn-archive">Archived</span>
                        {% elif support %}
                            <form action="{% url 'idea:upvote_idea' %}" method=POST>
                                {% csrf_token %}
                                <input type="hidden" name="idea_id" value="{{idea.id}}"/>
                                <input type="hidden" name="next" value="{% url 'idea:show_likes' idea.id %}"/>
                                <input type="submit" class="btn btn-voted" value="Liked" id="vote_down"/>
                            </form>
                        {% else %}
                            <form action="{% url 'idea:upvote_idea' %}" method=POST>
                                {% csrf_token %}
                                <input type="hidden" name="idea_id" value="{{idea.id}}"/>
                                <input type="hidden" name="next" value="{% url 'idea:idea_detail' idea.id %}"/>
                                <input type="submit" class="btn btn-vote" value="Like" id="vote_up"/>
                            </form>
                        {% endif %}
                    </div><!-- /bitton -->
                </div><!-- /idea-votes -->
                <article class="single-idea-entry span">
                    <div class="row span9">
                        <div class="idea-title-wrap">
                            <header class="idea-title">
                                <h1>Likes '{{idea.title}}'</h1>
                            </header>
                            {% if idea.banner %}
                                <span class="idea-banner">
                                {% if idea.banner.is_private %}
                                    Private Room:
                                    <a href="{% url "idea:room_detail" idea.banner.slug %}">{{idea.banner.title}}</a>
                                {% else %}
                                    Challenge:
                                    <a href="{% url "idea:challenge_detail" idea.banner.id %}">{{idea.banner.title}}</a>
			                          </span>
                                {% endif %}
                            {% endif %}
                        </div><!-- /idea-title-wrap -->
                    </div><!-- /row -->
                    <div class="row body">
                        <div class="idea-entry-content span9">
                            <div class="profile_images">
                                {% for voter in voters %}
                                    {% if voter.profile %}
                                    <a href="{{ voter.profile.get_absolute_url }}">
                                        <img class="tiny_photo" src="{{ voter.profile.photo_file.url_125x125 }}" alt="" />
                                        {{ voter.first_name }} {{ voter.last_name }}
                                    </a>
                                    {% else %}

                                    <a href="mailto:{{ voter.}}">{{voter.first_name}} {{voter.last_name}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div><!-- /idea-entry-content -->
                        {% if idea.banner and not idea.banner.is_private %}
                        <div id="sidebar" class="sidebar span3" role="complementary">
                            <aside class="project-add-idea">
                                <a href="{% url 'idea:add_idea' %}" class="btn-huge">Submit an Idea</a>
                            </aside><!-- /project-add-idea -->
                        </div><!-- /sidebar /sidebar -->
                        {% endif %}
                    </div>
                </article><!-- /single-idea-entry -->
            </section><!-- /main /main-content -->
        </div><!-- /content -->

{% endblock %}

{% block "js_ready" %}
    $(".tags_autocomplete").autocomplete({
        source: "{% url "search:model_tags_json" "idea" %}",
    });
{% endblock %}
